<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Food</title>
</head>

<body>
    <h2>Add Food</h2>
    <form action="{{ url_for('add_food') }}" method="post">
        <label for="foodName">Food Name:</label>
        <input type="text" id="foodName" name="foodName" required><br><br>
        <label for="foodCalories">Food Calories:</label>
        <input type="number" id="foodCalories" name="foodCalories" required><br><br>

        <label for="foodCarbohydrates">Food Carbohydrates:</label>
        <input type="number" id="foodCarbohydrates" name="foodCarbohydrates" required><br><br>
       
        <label for="foodProtein">Food Protein:</label>
        <input type="number" id="foodProtein" name="foodProtein" required><br><br>

        <label for="foodFat">Food Fat:</label>
        <input type="number" id="foodFat" name="foodFat" required><br><br>
	<button type="submit">Add Food</button>
    </form>
    <br>
    <a href="{{ url_for('record_food') }}">Back</a>
</body>

</html>

