<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Record</title>
    <style>
        #exerciseSelect {
            width: 200px;
            overflow-y: auto;
            max-height: 150px;
        }
    </style>
    <script>
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var userId = urlParams.get('user_id');
        var weight = urlParams.get('weight');
        var height = urlParams.get('height');

        async function fetchExerciseOptions() {
            try {
                const response = await fetch('/api/exercises');
                const data = await response.json();

                if (data && data.exercises) {
                    console.log('Exercise options fetched successfully!');
                    const exerciseSelect = document.getElementById("exerciseSelect");

                    data.exercises.forEach(exercise => {
                        const option = document.createElement("option");
                        option.value = exercise.id;
                        option.text = exercise.name;
                        option.dataset.exercise = JSON.stringify(exercise);
                        exerciseSelect.add(option);
                    });
                }
                console.log(data.exercises)
            } catch (error) {
                console.error('Error fetching exercise options:', error);
            }
        }
        
        function addExercise() {
            var exerciseSelect = document.getElementById("exerciseSelect");
            var exerciseDuration = document.getElementById("exerciseDuration");
            var exerciseTable = document.getElementById("exerciseTable");
            var selectedOption = exerciseSelect.options[exerciseSelect.selectedIndex];
            var exerciseDataString = selectedOption.dataset.exercise;
            var selectedExercise = JSON.parse(exerciseDataString);
            var selectedActivity = exerciseSelect.options[exerciseSelect.selectedIndex].text;

            var newRow = exerciseTable.insertRow();
            var newCell1 = newRow.insertCell();
            var newCell2 = newRow.insertCell();
            var newCell3 = newRow.insertCell();
            var newCell4 = newRow.insertCell();

            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "delete";
            deleteButton.onclick = function () {
                newRow.remove();
            };

            newCell1.innerHTML = exerciseSelect.options[exerciseSelect.selectedIndex].text;
            newCell2.innerHTML = exerciseDuration.value;
            var caloriesPerKg =  selectedExercise.calories_per_kg;
            newCell3.innerHTML = exerciseDuration.value / 60 * caloriesPerKg * weight ;//改weight
            newCell4.appendChild(deleteButton);
            newRow.dataset.activityId = selectedExercise.id;

            exerciseSelect.selectedIndex = 0;
            exerciseDuration.value = "";
        }

        function redirectToNewExercisePage() {
            window.location.href = "{{ url_for('add_exercise') }}";
        }

        function submitExercises() {
            var exerciseTable = document.getElementById("exerciseTable");
            var rows = exerciseTable.rows;

            var exercises = [];

            for (var i = 1; i < rows.length; i++) {
                var exerciseName = rows[i].cells[0].innerHTML;
                var exerciseDuration = rows[i].cells[1].innerHTML;
                var caloriesBurned = rows[i].cells[2].innerHTML;
                var activityId = rows[i].dataset.activityId;

                exercises.push({
                    activity_id:activityId,
                    name: exerciseName,
                    time: exerciseDuration,
                    calories_consumption: caloriesBurned
                });
            }
            console.log(exercises);
            var data = {
                user_id: userId,//改user_id
                exercises: exercises,
            };
            fetch('/submit_exercises', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            clearTable();
        }
        function clearTable() {
            var exerciseTable = document.getElementById("exerciseTable");
            var rows = exerciseTable.rows;

            for (var i = rows.length - 1; i >= 1; i--) {
                rows[i].remove();
            }

            exerciseTable.innerHTML = "<tr><th>Exercise</th><th>Duration(mins)</th><th>Calories Burned(cal)</th></tr>";
        }
    </script>
</head>

<body onload="fetchExerciseOptions()">
    <h1>Exercise Record</h1>
    <p>User ID: {{ user_id }}</p>
    <p>Weight: {{ weight }}</p>
    <p>Height: {{ height }}</p>
    <label for="exerciseSelect">Choose Exercise:</label>
    <select id="exerciseSelect"></select>
    <br>

    <button onclick="redirectToNewExercisePage()">Add Exercise</button>
    <br>

    <label for="exerciseDuration">Duration (mins):</label>
    <input type="number" id="exerciseDuration" min="0">
    <br>

    <button onclick="addExercise()">Record Exercise</button>
    <br>

    <table id="exerciseTable" border="1">
        <tr>
            <th>Exercise</th>
            <th>Duration(mins)</th>
            <th>Calories Burned(cal)</th>
        </tr>
    </table>

    <br>
    <button onclick="submitExercises()">Submit Exercise Data</button>
    <br>
    <a href="{{ url_for('exercise_history', user_id=user_id) }}">View Exercise History</a>
    <br>
    <a href="{{ url_for('user_home', user_id=user_id) }}">Home</a>
</body>

</html>
