<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Project</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {% for item in User %}
            <li>User ID: {{ item.id }}, Weight: {{ item.weight }}, Height: {{ item.height }}</li>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <label for="user_id">Enter your user id:</label>
        <input type="text" name="user_id" required>
        <label for="user_id">Enter your weight:</label>
        <input type="text" name="weight" required>
        <label for="user_id">Enter your height:</label>
        <input type="text" name="height" required>
        <button type="submit">Login / Register</button>
    </form>
</body>
</html>
