<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="{{ url_for('register', user_id=user_id) }}">
        <label for="weight">Enter your weight:</label>
        <input type="number" name="weight" required>
        <label for="height">Enter your height:</label>
        <input type="number" name="height" required>
        <button onclick="register()">Register</button>
    </form>
</body>
</html>
